<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/media_css.css')}}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">


  {% block title %}

      {% if title %}
        <title>Flask - {{ title }}</title>
      {% else %}
        <title>Flask Blog</title>
      {% endif %}

  {% endblock title %}

</head>

<body>

<div class="wrapper">

{% block menu %}
<header class="header">

    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
    </div>

    <ul class="main_menu">

            <li><a href="{{ url_for('main.home') }}">Главная</a></li>
            <li><a href="{{ url_for('user.register') }}">Регистрация</a></li>
            <li><a href="{{ url_for('user.login') }}">Войти</a></li>
            <li><a href="{{ url_for('main.blog') }}">Игра</a></li>
            <li><a href="{{ url_for('user.account') }}">Аккаунт</a></li>
            <li><a href="{{ url_for('users.logout') }}">Выход</a></li>

    </ul>

</header>
{% endblock menu %}


    <div class="content">

            {% block content %}
            {% endblock content %}

    </div>


{% block main_page %}

{% endblock main_page %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

{% block footer %}

    <footer class="footer">Все права защищены!<br>
        &#169; Терехов Михаил 2021

    </footer>

{% endblock footer %}
</div>
</body>
</html>