* {box-sizing: border-box;}

/* Стиль навигационной панели */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Ссылки на навигационную панель */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Ссылки на навигационную панель при наведении курсора мыши */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Активная/текущая ссылка */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Добавить отзывчивость - на небольших экранах, отображать навигационную панель вертикально, а не горизонтально */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
